<form id="leave_form" name="leave_form" action="" method="post">
	<div class="row-fluid">
		<div class="span12">
			<!--BeginDisplayMessageBlock-->
			<div class="alert {message_class}">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<strong>{message}</strong>
			</div>
			<!--EndDisplayMessageBlock-->
			<div class="box gradient">
				<div class="title">
					<h4><span>Admin Leave Requests</span> </h4>
				</div>
				<div class="content noPad clearfix">
					<table cellpadding="0" cellspacing="0" border="0" class="responsive display table table-bordered" width="100%" id="tblAdminLeaveRequests">
						<thead>
							<tr>
								<th>Employee Name</th>
								<th>Reporting Head</th>
								<th>No of leaves</th>
								<th>Start date</th>
								<th>End date</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							<!--BeginFillAdminLeaveFormValues-->
							<tr class="odd gradeX">
								<td>{employee_name}</td>
								<td>{reporting_head_name}</td>
								<td>{nodays}</td>
								<td>{startdate}</td>
								<td>{enddate}</td>
								<td><a href="admin_leave_request_view.php?id={id}" name="view" id="view" title="View Leave Request" class="tip"><span class="icon12 brocco-icon-search"></span></a></td>
							</tr>
							<!--EndFillAdminLeaveFormValues-->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$('#tblAdminLeaveRequests').dataTable( {
			"sPaginationType": "full_numbers",
			"bJQueryUI": false,
			"bAutoWidth": false,
			"bLengthChange": false,
			"aaSorting": [[ 1, "desc" ]],
			"aoColumns": [
				null,
				null,
				null,
				{ "sType": "date-uk" }, 
				{ "sType": "date-uk" }, 
				null
			]
		});
	});
</script>
