<div class="row-fluid seperator">
	<div class="span12">
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Employee Name:</b></label>
					<label class="form-label span3 clsleft">{name}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>No of days:</b></label>
					<label class="form-label span3 clsleft">{nodays}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Start date:</b></label>
					<label class="form-label span3 clsleft">{startdate}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>End date:</b></label>
					<label class="form-label span3 clsleft">{enddate}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Reason:</b></label>
					<label class="form-label span3 clsleft">{reason}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Address:</b></label>
					<label class="form-label span3 clsleft">{leave_address}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Contact:</b></label>
					<label class="form-label span3 clsleft">{leave_contact}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Approval Status:</b></label>
					<label class="form-label span3 clsleft">{approval_status}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Approval Comment:</b></label>
					<label class="form-label span3 clsleft">{comment_manager}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="form-actions">
						<div class="span3"></div>
						<div class="span4 controls">
							<button type="button" class="btn btn-info marginR10" name="back" id="back" onclick="window.location='admin_leave_form.php'">Back</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
