<div class="row-fluid seperator">
	<div class="span12">
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Employee Name:</b></label>
					<label class="form-label span3 clsleft">{employee_name}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Reporting Head:</b></label>
					<label class="form-label span3 clsleft">{reporting_head_name}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Date:</b></label>
					<label class="form-label span3 clsleft">{lwp_date}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Leave type:</b></label>
					<label class="form-label span3 clsleft">{leave_title}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Reason:</b></label>
					<label class="form-label span3 clsleft">{reason}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Approval Status:</b></label>
					<label class="form-label span3 clsleft">{approval_status}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Approval Comment:</b></label>
					<label class="form-label span3 clsleft">{approval_comment}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="form-actions">
						<div class="span3"></div>
						<div class="span4 controls">
							<button type="button" class="btn btn-info marginR10" name="back" id="back" onclick="window.location='admin_approved_lwp_form.php'">Back</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
