<div id="content" class="clearfix" style="margin-left: 0px; padding-top:0px;">
	<div class="contentwrapper">
		<div class="row-fluid">
			<div class="span12">
				<div class="box">
					<div class="title">
						<h4>
						<span class="icon16 brocco-icon-grid"></span>
						<span>Attendance : {attendance_date}</span>
						</h4>
					</div>
					<div class="content noPad clearfix flexiblewidth" style="overflow:scroll;">
						<table cellpadding="0" cellspacing="0" border="0" class="responsive dynamicTable display table table-bordered" width="100%">
                                <thead>
                                  <tr>
                                    <th>Employee</th>
                                    <th>Leave type</th>
									<th>In Time</th>
									<th>Out Time</th>
									<th>1st Break Start</th>
									<th>1st Break Stop</th>
									<th>2nd Break Start</th>
									<th>2nd Break Stop</th>
									<th>3rd Break Start</th>
									<th>3rd Break Stop</th>
									<th>4th Break Start</th>
									<th>4th Break Stop</th>
									<th>5th Break Start</th>
									<th>5th Break Stop</th>
									<th>Late time</th>
									<th>Total Breaks</th>
									<th>Break exceed</th>
									<th>Shift Time</th>
									
                                  </tr>
                                </thead>
                                <tbody>
								<!--BeginEmployeeValues-->
								<tr>
								 	<td>
										{employee_name}
										<input type="hidden" id="hdnemployeeid" name="hdnemployeeid[]" value="{employee_id}" />
										<input type="hidden" id="hdnattendanceid" name="hdnattendanceid[{employee_id}]" value="{attendance_id}" />
										<!--input type="hidden" id="shift_id" name="shift_id[{employee_id}]" value="{shift_id}" /-->
									</td>
									<td>
									{LeaveType}
									</td>
									<td>
										<label>{attendance1_in_time}</label>
									</td>
									<td>
										<label>{attendance1_out_time}</label>
									</td>
									<td>
										<label>{attendance1_break1_in}</label>
									</td>
									<td>
										<label>{attendance1_break1_out}</label>
									</td>
									<td>
										<label>{attendance1_break2_in}</label>
									</td>
									<td>
										<label>{attendance1_break2_out}</label>
									</td>
									<td>
										<label>{attendance1_break3_in}</label>
									</td>
									<td>
										<label>{attendance1_break3_out}</label>
									</td>
									<td>
										<label>{attendance1_break4_in}</label>
									</td>
									<td>
										<label>{attendance1_break4_out}</label>
									</td>
									<td>
										<label>{attendance1_break5_in}</label>
									</td>
									<td>
										<label>{attendance1_break5_out}</label>
									</td>
									<td>
										<label>{late_time}</label>
									</td>
									<td>
										<label>{total_break_time}</label>
									</td>
									<td>
										<label {showred}>{break_exceed_time}</label>
									</td>
									
									<td>
										{shiftTimes}
									</td>
								</tr>
								<!--EndEmployeeValues-->
									
                                </tbody>
                            </table>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div id="myModal1" class="modal fade hide">
			</div>
		</div>
	</div>
</div>
