		<!-- Build page from here: -->
		<div class="row-fluid seperator">
			<div class="span12">
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Employee code:</b></label>
							<label class="form-label span3 clsleft">{employee_code}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Name:</b></label>
							<label class="form-label span3 clsleft">{name}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Email:</b></label>
							<label class="form-label span3 clsleft">{email}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Contact No:</b></label>
							<label class="form-label span3 clsleft">{contact}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Address:</b></label>
							<label class="form-label span3 clsleft">{address}</label>
						</div>
					</div>
				</div><div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Department:</b></label>
							<label class="form-label span3 clsleft">{dep_title}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Designation:</b></label>
							<label class="form-label span3 clsleft">{des_title}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Team Leader:</b></label>
							<label class="form-label span3 clsleft">{teamleader}</label>
						</div>
					</div>
				</div>
				<!--div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Role:</b></label>
							<label class="form-label span3 clsleft">{role}</label>
						</div>
					</div>
				</div-->
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Status:</b></label>
							<label class="form-label span3 clsleft">{stat}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Opening leave balance:</b></label>
							<label class="form-label span3 clsleft">{leave_bal}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Shift Timings:</b></label>
							<label class="form-label span3 clsleft">{shifttimings}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Namaz:</b></label>
							<label class="form-label span3 clsleft">{namaz_status}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<div class="form-actions">
								<div class="span3"></div>
								<div class="span4 controls">
									<button type="button" class="btn btn-info marginR10" name="back" id="back" onclick="window.location='employee.php'">Back</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End .span12 -->
		</div>
		<!-- End .row-fluid -->
