		<!-- Build page from here: Usual with <div class="row-fluid"></div> -->
		<div class="row-fluid">
			<div class="span12">
				<div class="box gradient">
					<div class="title">
						<h4> <span>Report table</span> </h4>
					</div>
					<div class="content noPad clearfix flexiblewidth"  style="overflow:scroll;">
						<table cellpadding="0" cellspacing="0" border="0" class="responsive dynamicTable display table table-bordered" width="100%">
							<thead>
								<tr>
									<th>Name</th><th>P</th><th>Total Break Exceeds </th><th>Total PLT </th>
									<th>PPL</th><th>UHL</th><th>PHL</th><th>WO</th><th>PH</th><th>HA</th>
									<th>HLWP</th><th>A</th><th>PLWP</th><th>ULWP</th><th>NJ</th>
									<th>TOTAL</th><th>PRESENT</th><th>UHL</th><th>Days (-/+)</th>
									<th>Pay Days</th><th>Opening Leaves Balance(PL)</th><th>Leaves Earn(PL)</th>
									<th>Leave Consumed(PL)</th>
									<th>Leave Consumed(EML)</th>
									<th>Leave Consumed(PHL)</th>
									<th>Leave Consumed(UHL)</th>
									<th>Leave Consumed(TOTAL)</th>
									<th>Closing Leaves Balance(PL)</th>
								</tr>
							</thead>
							<tbody>
								<!--BeginFillReport-->
								<tr class="odd gradeX">
									<td>{employee_name}</td>
									<td>{present}</td>
									<td>{break_exceeds}</td>
									<td>{total_plt}</td>
									<td>{ppl}</td>
									<td>{uhl}</td>
									<td>{phl_taken}</td>
									<td>{wo}</td>
									<td>{ph}</td>
									<td>{ha}</td>
									<td>{hlwp}</td>
									<td>{abs}</td>
									<td>{plwp}</td>
									<td>{ulwp}</td>
									<td>{nj}</td>
									<td>{total_present}</td>
									<td>{total_present}</td>
									<td>{uhl}</td>
									<td>{total_leave_taken}</td>
									<td>{pay_days}</td>
									<td>{opening_leave}</td>
									<td>{leave_earns}</td>
									<td>{pl_taken}</td>
									<td>{eml_taken}</td>
									<td>{phl_taken}</td>
									<td>{uhl_taken}</td>
									<td>{total_leave_taken}</td>
									<td>{closing_balance}</td>
								</tr>
								<!--EndFillReport-->
							</tbody>
						</table>
						
					</div>
				</div>
				<!-- End .box -->
			</div>
			<!-- End .span12 -->
		</div>
		<!-- End .row-fluid -->
		

