<!-- Build page from here: Usual with <div class="row-fluid"></div> -->
		<form name="uploadclients" id="uploadclients" method="post" action="candidates.php" enctype="multipart/form-data" style="float:left;">
			<input type="hidden" name="action" id="action" value="uploadcsv" />
			<table>
				<tr>
					<td>Upload Client CSV: </td>
					<td>
						<input type="file" name="clientcsv" id="clientcsv" />
					</td>
					<td>
						<input type="submit" name="btnsubmit" id="btnsubmit" value="Upload" class="uploadbutton"/>
					</td>
				</tr>
			</table>
		</form>
<form id="candidate_list" name="candidate_list" action="candidates.php" method="post">
	<input type="hidden" name="hdnaction" id="hdnaction" value="update"/>
	<div class="row-fluid">
		<div class="span12">
			<!--BeginDisplayMessageBlock-->
				<div class="alert {message_class}">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>{message}</strong>
				</div>
				<!--EndDisplayMessageBlock-->
			<div class="box gradient">
				<div class="title">
					<h4> <span>Candidate List</span> </h4>
				</div>
				<div class="content noPad clearfix">
					<table cellpadding="0" cellspacing="0" border="0" class="responsive dynamicTable display table table-bordered" width="100%">
						<thead>
							<tr>
								<th><input type='checkbox' name='chkall' id='chkall' /></th>
								<th>Name</th>
								<th>Post Applied for</th>
								<th>Date of interview</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							<!--BeginFillRctSheetValues-->
							<tr class="odd gradeX">
								<td><input type="checkbox" id="chk" name="chk[]" value="{cand_id}" class="chkone"/></td>
								<td>{name}</td>
								<td>{des_title}</td>
								<td>{reg_date}</td>
								<td><a href="candidates.update.php?id={cand_id}" name="update" id="update" title="Edit Candidate" class="tip"><span class="icon12 brocco-icon-search"></span></a></td>
							</tr>
							<!--EndFillRctSheetValues-->
						</tbody>
					</table>
				</div>
			</div>
			<!-- End .box -->
		</div>
		<!-- End .span12 -->
	</div>
</form>
<!-- End .row-fluid -->
<!-- Page end here -->
<script type="text/javascript">
$(document).ready(function(){
		$("#chkall").click(function(){

			if($("#chkall").is(":checked"))
			{
				$(".chkone").attr("checked",$(this).attr("checked"));
			}
			else
			{
				$(".chkone").removeAttr("checked");
				
				$(".chkone").parents("span.checked").removeClass("checked");
			}
			
			$("input[type='checkbox']").uniform();
		});
		
		$(".chkone").click(function(){
			if($(".chkone").length == $(".chkone:checked").length && $(".chkone:checked").length != 0)
				$("#chkall").attr("checked","checked");
			else
				$("#chkall").removeAttr("checked");
				
			$("input[type='checkbox']").uniform();
		});
	});
</script>
