<table id="attendanceTbl" cellpadding="1" cellspacing="1" border="0" bgcolor="#e6e6e6" width="70%" style="color:black;">
	<thead>
		<tr bgcolor="#FFFFFF">
			<th>&nbsp;</th>
			<!--BeginFillRctDivision-->
			<th>{division_title}</th>
			<!--EndFillRctDivision-->
			
		</tr>
	</thead>
		<tr bgcolor="#FFFFFF">
			<th>Total</th>
			<!--BeginFillRctDivision8-->
			<th style="text-align:center;">{divisionCount}</th>
			<!--EndFillRctDivision8-->
		</tr>
		<tr style="background-color: #79BAEC;">
			<td>Shortlisted</td>
			<!--BeginFillRctDivision1-->
			<td style="text-align:center;">{rctShortlistedCount}</td>
			<!--EndFillRctDivision1-->
		</tr>
		<tr style="background-color: #1E9E1E;">
			<td>Hired</td>
			<!--BeginFillRctDivision9-->
			<td style="text-align:center;">{rctHiredCount}</td>
			<!--EndFillRctDivision9-->
		</tr>
		<tr style="background-color: #FF6464;">
			<td>Rejected</td>
			<!--BeginFillRctDivision2-->
			<td style="text-align:center;">{rctRejectedCount}</td>
			<!--EndFillRctDivision2-->
		</tr>
		<tr style="background-color: #F5F500;">
			<td>Declined</td>
			<!--BeginFillRctDivision3-->
			<td style="text-align:center;">{rctDeclinedCount}</td>
			<!--EndFillRctDivision3-->
		</tr>
		<tr bgcolor="#FFFFFF">
			<td>Hold</td>
			<!--BeginFillRctDivision4-->
			<td style="text-align:center;">{rctHoldCount}</td>
			<!--EndFillRctDivision4-->
		</tr>
		<tr bgcolor="#FFFFFF">
			<td>Test</td>
			<!--BeginFillRctDivision5-->
			<td style="text-align:center;">{rctTestCount}</td>
			<!--EndFillRctDivision5-->
		</tr>
		<tr bgcolor="#FFFFFF">
			<td>FRT</td>
			<!--BeginFillRctDivision6-->
			<td style="text-align:center;">{rctFRTCount}</td>
			<!--EndFillRctDivision6-->
		</tr>
		<tr bgcolor="#FFFFFF">
			<td>Future Prospect</td>
			<!--BeginFillRctDivision7-->
			<td style="text-align:center;">{rctFutureProspectsCount}</td>
			<!--EndFillRctDivision7-->
		</tr>
</table>
