		<!-- Build page from here: -->
		<div class="row-fluid seperator">
			<div class="span12">
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Designation Name:</b></label>
							<label class="form-label span3 clsleft">{title}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Parent Designation:</b></label>
							<label class="form-label span3 clsleft">{parent_designation_name}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Description:</b></label>
							<label class="form-label span3 clsleft">{description}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>1<sup>st</sup> Reporting Head Designation:</b></label>
							<label class="form-label span3 clsleft">{first_reporting_head_name}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>2<sup>nd</sup> Reporting Head Designation:</b></label>
							<label class="form-label span3 clsleft">{second_reporting_head_name}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Allow Delegation:</b></label>
							<label class="form-label span3 clsleft">{allow_designation_text}</label>
						</div>
					</div>
				</div>
				<!--BeginDisplayDesignationBlock-->
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Delegation Designation:</b></label>
							<label class="form-label span6 clsleft">{strDelegateDesignations}</label>
						</div>
					</div>
				</div>
				<!--EndDisplayDesignationBlock-->
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Minimum working hours for fullday:</b></label>
							<label class="form-label span6 clsleft">{fullday_minimum_working_hour}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Break for fullday:</b></label>
							<label class="form-label span6 clsleft">{fullday_break_minutes}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Minimum working hours for halfday:</b></label>
							<label class="form-label span6 clsleft">{halfday_minimum_working_hour}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Break for halfday:</b></label>
							<label class="form-label span6 clsleft">{halfday_break_minutes}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Minimum working hours for shift movement:</b></label>
							<label class="form-label span6 clsleft">{sm_minimum_working_hour}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Break for shift movement:</b></label>
							<label class="form-label span6 clsleft">{sm_break_minutes}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Do not consider break exceed:</b></label>
							<label class="form-label span6 clsleft">{consider_break_exceed_text}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Do not consider late commings:</b></label>
							<label class="form-label span6 clsleft">{consider_late_commings_text}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Consider In-Out Time for calculation:</b></label>
							<label class="form-label span6 clsleft">{consider_inout_time_text}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Allow roster generation:</b></label>
							<label class="form-label span6 clsleft">{allow_roster_generation_text}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<div class="form-actions">
								<div class="span3"></div>
								<div class="span4 controls">
									<button type="button" class="btn btn-info marginR10" name="back" id="back" onclick="window.location='designation.php'">Back</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End .span12 -->
		</div>
		<!-- End .row-fluid -->
