		<!-- Build page from here: -->
		<div class="row-fluid seperator">
			<div class="span12">
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Employee Name:</b></label>
							<label class="form-label span3 clsleft">{emp_name}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Photos:</b></label>
							<label class="form-label span3 clsleft">{photo_status}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>SSC:</b></label>
							<label class="form-label span3 clsleft">{ssc_status}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>HSC:</b></label>
							<label class="form-label span3 clsleft">{hsc_status}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>LC:</b></label>
							<label class="form-label span3 clsleft">{lc_status}</label>
						</div>
					</div>
				</div>
				<!--<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Graduation:</b></label>
							<label class="form-label span3 clsleft">{degree_status}</label>
						</div>
					</div>
				</div>-->
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Graduation (Degree / Diploma):</b></label>
							<label class="form-label span3 clsleft">{d_name}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>PG Name:</b></label>
							<label class="form-label span3 clsleft">{pg_name1}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Additional Cert.:</b></label>
							<label class="form-label span3 clsleft">{additional_cert_status}</label>
						</div>
					</div>
				</div>
				<!--<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>ID Proof:</b></label>
							<label class="form-label span3 clsleft">{id_proof_status}</label>
						</div>
					</div>
				</div>-->
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Given ID Proof:</b></label>
							<label class="form-label span3 clsleft">{id_name}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Extra Given ID Proof:</b></label>
							<label class="form-label span3 clsleft">{extra_id_name}</label>
						</div>
					</div>
				</div>
				<!--<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Address Proof:</b></label>
							<label class="form-label span3 clsleft">{address_proof_status}</label>
						</div>
					</div>
				</div>-->
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Address Proof:</b></label>
							<label class="form-label span3 clsleft">{address_name}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>BGR:</b></label>
							<label class="form-label span3 clsleft">{bgr_status}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Previous Co. Docs:</b></label>
							<label class="form-label span3 clsleft">{prv_comp_doc_status}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>MOU Notary:</b></label>
							<label class="form-label span3 clsleft">{mou_notary_status}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>PVF:</b></label>
							<label class="form-label span3 clsleft">{pvf_status}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>PF No.:</b></label>
							<label class="form-label span3 clsleft">{pf_no_status}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>ESIC No.
:</b></label>
							<label class="form-label span3 clsleft">{esic_no_status}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<div class="form-actions">
								<div class="span3"></div>
								<div class="span4 controls">
									<button type="button" class="btn btn-info marginR10" name="back" id="back" onclick="window.location='document_details.php'">Back</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End .span12 -->
		</div>
