		<!-- Build page from here: -->
		<div class="row-fluid seperator">
			<div class="span12">
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5"><b>Status:</b></label>
							<label class="form-label span3 clsleft">{stat}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="date_of_joining"><b>Date of Joining of Transform Solution Pvt. Ltd.:</b></label>
							<label class="form-label span3 clsleft">{d_of_join}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5"><b>Employee code:</b></label>
							<label class="form-label span3 clsleft">{employee_code}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5"><b>Name:</b></label>
							<label class="form-label span3 clsleft">{name}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="father_husband_name"><b>Fathers / Husband Name :</b></label>
							<label class="form-label span3 clsleft">{father_husband_name}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5"><b>Permanent Address:</b></label>
							<label class="form-label span3 clsleft">{address}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="current_address"><b>Current Address :</b></label>
							<label class="form-label span3 clsleft">{current_address}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="location"><b>Location :</b></label>
							<label class="form-label span3 clsleft">{location}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="city"><b>City :</b></label>
							<label class="form-label span3 clsleft">{city}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="zip"><b>Zip :</b></label>
							<label class="form-label span3 clsleft">{zip}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="dob"><b>Date of Birth :</b></label>
							<label class="form-label span3 clsleft">{d_birth}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5"><b>Team Leader:</b></label>
							<label class="form-label span3 clsleft">{teamleader}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5"><b>Shift Timings:</b></label>
							<label class="form-label span3 clsleft">{shifttimings}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5"><b>Opening leave balance:</b></label>
							<label class="form-label span3 clsleft">{leave_bal}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="gender"><b>Gender :</b></label>
							<label class="form-label span3 clsleft">{emp_gender}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="emergency_contact_name"><b>Emergency Contact Name :</b></label>
							<label class="form-label span3 clsleft">{emergency_contact_name}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="relation"><b>Emergency Contact Relation :</b></label>
							<label class="form-label span3 clsleft">{relation}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="relation"><b>Emergency Contact Number :</b></label>
							<label class="form-label span3 clsleft">{emergency_contact}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="phone_number"><b>Phone Number :</b></label>
							<label class="form-label span3 clsleft">{phone_number}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5"><b>Mobile No:</b></label>
							<label class="form-label span3 clsleft">{contact}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="company_mobile_no"><b>Company Mobile No. :</b></label>
							<label class="form-label span3 clsleft">{company_mobile_no}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5"><b>Official Email:</b></label>
							<label class="form-label span3 clsleft">{email}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="official_email"><b>Personal Email :</b></label>
							<label class="form-label span3 clsleft">{official_email}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="qualification"><b>Final Qualification :</b></label>
							<label class="form-label span3 clsleft">{qualification}</label>
						</div>
					</div>
				</div>
				
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="experience"><b>Experience :</b></label>
							<label class="form-label span3 clsleft">{experience}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5"><b>Department:</b></label>
							<label class="form-label span3 clsleft">{dep_title}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5"><b>Current Designation:</b></label>
							<label class="form-label span3 clsleft">{des_title}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="old_designation"><b>Last Designation :</b></label>
							<label class="form-label span3 clsleft">{old_designation}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="blood_group"><b>Blood Group :</b></label>
							<label class="form-label span3 clsleft">{blood_group}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="current_salary_ctc"><b>Current CTC :</b></label>
							<label class="form-label span3 clsleft">{current_salary_ctc}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="start_ctc"><b>Last CTC :</b></label>
							<label class="form-label span3 clsleft">{start_ctc}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5"><b>Namaz:</b></label>
							<label class="form-label span3 clsleft">{namaz_status}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="id_card"><b>Id Card :</b></label>
							<label class="form-label span3 clsleft">{emp_id_card}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="date_of_joining"><b>Induction:</b></label>
							<label class="form-label span3 clsleft">{induction_status}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="employee_reference_detail"><b>Employee Reference Details :</b></label>
							<label class="form-label span3 clsleft">{reffer_name}</label>
						</div>
					</div>
				</div>

				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="pf_no"><b>PF NO. GJ/SRT/ 35455 :</b></label>
							<label class="form-label span3 clsleft">{pf_no}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="esic_no"><b>ESIC NO.39/31084/90 :</b></label>
							<label class="form-label span3 clsleft">{esic_no}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="icici_bank_ac_no"><b>ICICI Bank Account no. :</b></label>
							<label class="form-label span3 clsleft">{icici_bank_ac_no}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="icici_bank_ac_no"><b>RCT mail send :</b></label>
							<label class="form-label span3 clsleft">{rct_mail_send_i}</label>
						</div>
					</div>
				</div>
				
				<!--div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Role:</b></label>
							<label class="form-label span3 clsleft">{role}</label>
						</div>
					</div>
				</div-->
				<!--<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="retention_bonus_scheme"><b>10% Deduction or Retention bonus Scheme :</b></label>
							<label class="form-label span3 clsleft">{retention_bonus_scheme}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="retention_amount"><b>Retention Amount :</b></label>
							<label class="form-label span3 clsleft">{retention_amount}</label>
						</div>
					</div>
				</div>
		
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="offer_letter_issued"><b>Offer Letter Issued :</b></label>
							<label class="form-label span3 clsleft">{emp_offer_letter_issued}</label>
						</div>
					</div>
				</div>
				
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="terminated_absconding_resigned"><b>Terminated / Absconding / Resigned :</b></label>
							<label class="form-label span3 clsleft">{emp_terminated_absconding_resigned}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="date_of_resign_terminate"><b>Date of Resignation letter / Termination :</b></label>
							<label class="form-label span3 clsleft">{d_of_res_ter}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="relieving_date_by_manager"><b>Relieving date by Operation Manager / HR :</b></label>
							<label class="form-label span3 clsleft">{rel_date_by_manager}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="reason_of_leaving"><b>Reason of Leaving :</b></label>
							<label class="form-label span3 clsleft">{reason_of_leaving}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="issues_relieving_offer_letter"><b>Issued Relieving letter & Experience letter :</b></label>
							<label class="form-label span3 clsleft">{emp_issues_relieving_offer_letter}</label>
						</div>
					</div>
				</div>-->
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="terminated_absconding_resigned"><b>Terminated / Absconding / Resigned :</b></label>
							<label class="form-label span3 clsleft">{emp_terminated_absconding_resigned}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span5" for="reason_of_leaving"><b>Reason of Leaving :</b></label>
							<label class="form-label span3 clsleft">{reason_of_leaving}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<div class="form-actions">
								<div class="span3"></div>
								<div class="span4 controls">
									<button type="button" class="btn btn-info marginR10" name="back" id="back" onclick="window.location='employee.php'">Back</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End .span12 -->
		</div>
		<!-- End .row-fluid -->
