<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<div class="span12">
				<div class="box gradient">
					<div class="title">
						<h4>
							<span>Employees not included in head count calculation</span>
						</h4>
					</div>
					<div class="content noPad clearfix flexiblewidth">
						<table id="employeesTbl" cellpadding="0" cellspacing="0" border="0" class="responsive display table table-bordered" width="100%">
							<thead>
								<tr>
									<th>Date Of Joining</th>
									<th>Employee code</th>
									<th>Employee Name</th>
									<th>Reporting Head</th>
									<th>Date of leaving</th>
								</tr>
							</thead>
							<tbody>
								<!--BeginDisplayEmployeeBlock-->
								<tr class="odd gradeX">
									<td>{date_of_joining}</td>
									<td>{employee_code}</td>
									<td>{name}</td>
									<td>{reporting_head}</td>
									<td>{relieving_date_by_manager}</td>
								</tr>
								<!--EndDisplayEmployeeBlock-->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#employeesTbl').dataTable({
			"sPaginationType": "full_numbers",
			"bJQueryUI": false,
			"bAutoWidth": false,
			"bLengthChange": false,
			"iDisplayLength": 25,
			"aaSorting": [[ 0, "asc" ]],
			"aoColumns": [
				{ "sType": "date-uk" }, 
				null,
				null,
				{ "sType": "date-uk" },
				null
			]
		});
	});
</script>
