<div class="row-fluid seperator">
	<div class="span12">
		<!--BeginDisplayInventoryLocationInformationBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Inventory location:</b></label>
					<label class="form-label span3 clsleft">{location_name}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Description:</b></label>
					<label class="form-label span3 clsleft">{description}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Hide Location:</b></label>
					<label class="form-label span3 clsleft">{hidden_status}</label>
				</div>
			</div>
		</div>
		<!--EndDisplayInventoryLocationInformationBlock-->
		<!--BeginDisplayNoInventoryLocationInformationBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>No inventory location information.</b></label>
				</div>
			</div>
		</div>
		<!--EndDisplayNoInventoryLocationInformationBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="form-actions">
						<div class="span3"></div>
						<div class="span4 controls">
							<button type="button" class="btn btn-info marginR10" name="back" id="back" onclick="window.location='inventory_location_list.php'">Back</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

