<span class="dropdown pull-right"><a href="#" class="dropdown-toggle" data-toggle="dropdown" id="helpbox">
	<span class="icon16 entypo-icon-help"></span>Help
</a>
<ul class="dropdown-menu" style="top:35px;">
	<li class="menu">
		<ul>
			<li>                                                    
				<b>Inventory make:</b><br>Enter the make of the inventory.
			</li>
			<li>
				<b>Description:</b><br>Enter the description for the inventory make.
			</li>
		</ul>
	</li>
</ul></span>

<form name="frminventorymake" id="frminventorymake" class="form-horizontal seperator" method="post" action="inventory_make.php" onsubmit="return fnValidate();" />

	<input type="hidden" name="id" id="id" value="{id}" />

	<div class="row-fluid">
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3">Inventory make:</label>
					<input class="span4" name="make" id="make" type="text" value="{make}" />
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3" class = "required">
					Description:
					</label>
					<textarea class="span4" name="description" id="description" type="text">{description}</textarea>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="form-actions">
						<div class="span3"></div>
						<div class="span4 controls">
							<input type="hidden" name="action" id="action" value="InventoryMake" />
							<button type="submit" class="btn btn-info marginR10" name="submit" id="submit">Save</button>
							<button type="button" class="btn btn-info marginR10" name="cancel" id="cancel" onclick="window.location='inventory_make_list.php'">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<script type="text/javascript">

	function fnValidate()
	{
		if(!checkblank($("#make"),"Please enter Inventory make")) return false;
	}
	
</script>
