<span class="right">
	<a href="inventory_location.php">
		<h4><span class="icon16 entypo-icon-add"></span>Add Inventory Location</h4>
	</a>
</span>
	
<div class="row-fluid">
	<div class="span12">

		<!--BeginDisplayMessageBlock-->
		<div class="alert {message_class}">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<strong>{message}</strong>
		</div>
		<!--EndDisplayMessageBlock-->

		<div class="box gradient">
			<div class="title">
				<h4><span>Upload Inventory Location CSV</span></h4>
			</div>
			<div class="content noPad clearfix flexiblewidth">
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<form name="frmUploadLocationCSV" id="frmUploadLocationCSV" method="post" action="inventory_location_list.php" enctype="multipart/form-data">
								<label class="form-label span3">Location CSV:</label>
								<input type="file" name="location_csv" id="location_csv" />
								<input type="hidden" name="action" id="action" value="UploadLocationCsv" />
								<button type="submit" class="btn btn-info marginR10" name="btnsubmit" id="btnsubmit">Upload</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="box gradient">
			<div class="title">
				<h4><span>Inventory Location</span></h4>
			</div>
			<div class="content noPad clearfix flexiblewidth">
				<table cellpadding="0" cellspacing="0" border="0" class="responsive dynamicTable display table table-bordered" width="100%">
					<thead>
						<tr>
							<th>Inventory Location</th>
							<th>Is hidden</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						<!--BeginFillInventoryLocationList-->
						<tr class="odd gradeX">
							<td>{location_name}</td>
							<td>{hidden_status}</td>
							<td>
								<a href="inventory_location_view.php?id={id}" name="view" id="view" title="View Inventory Location" class="tip">
									<span class="icon12 brocco-icon-search"></span>
								</a>
								<a href="inventory_location.php?id={id}&action=update" name="update" id="update" title="Update Inventory Location" class="tip">
									<span class="icon12 icomoon-icon-pencil-2"></span>
								</a>
							</td>
						</tr>
						<!--EndFillInventoryLocationList-->
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
