<span class="dropdown pull-right">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="helpbox">
		<span class="icon16 entypo-icon-help"></span>Help
	</a>
	<ul class="dropdown-menu" style="top:35px;">
		<li class="menu">
			<ul>
				<li>                                                    
					<b>Issue Category:</b><br>Select the issue category for the IT Issue.
				</li>
				<li>                                                    
					<b>Issue:</b><br>Enter the IT Issue.
				</li>
				<li>
					<b>Description:</b><br>Enter the description for the IT Issue.
				</li>
				<li>
					<b>Issue Category:</b><br>Select the priority for the IT Issue.
				</li>
				<li>
					<b>Estimated resolution time:</b><br>Select estimated resolution time for IT Issue.
				</li>
			</ul>
		</li>
	</ul>
</span>

<form name="frmissue" id="frmissue" class="form-horizontal seperator" method="post" action="issue.php" onsubmit="return fnValidate();" />

	<input type="hidden" name="id" id="id" value="{id}" />

	<div class="row-fluid">
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3">Issue Category:</label>
					<select name="issue_category_id" id="issue_category_id">
						<option value="">Please select</option>
						<!--BeginFillIssueCategoryBlock-->
						<option value="{issuecategory_id}">{issuecategory_name}</option>
						<!--EndFillIssueCategoryBlock-->
					</select>
					<script type="text/javascript">
						if("{issue_category_id}" != "")
							$("#issue_category_id").val("{issue_category_id}");
					</script>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3">Issue :</label>
					<input class="span4" name="issue" id="issue" type="text" value="{issue}" />
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3" class = "required">
					Description:
					</label>
					<textarea class="span4" name="description" id="description" type="text">{description}</textarea>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3">Priority:</label>
					<select name="priority" id="priority">
						<option value="">Please select</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
					<script type="text/javascript">
						if("{priority}" != "")
							$("#priority").val("{priority}");
					</script>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3">Estimated resolution time :</label>
					<input class="span4 timepicker" name="estimated_resolution_time" id="estimated_resolution_time" type="text" value="{estimated_resolution_time}" autocomplete="off" readonly="readonly" style="cursor:pointer;" />
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="form-actions">
						<div class="span3"></div>
						<div class="span4 controls">
							<input type="hidden" name="action" id="action" value="SaveITIssue" />
							<button type="submit" class="btn btn-info marginR10" name="submit" id="submit">Save</button>
							<button type="button" class="btn btn-info marginR10" name="cancel" id="cancel" onclick="window.location='issue_list.php'">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<script type="text/javascript">

	$(document).ready(function(){
		$('.timepicker').timepicker();
	});

	function fnValidate()
	{
		if(!checkblank($("#issue_category_id"),"Please select Issue Category")) return false;
		if(!checkblank($("#issue"),"Please enter Issue")) return false;
		if(!checkblank($("#priority"),"Please select priority")) return false;
		if(!checkblank($("#estimated_resolution_time"),"Please enter Estimated resolution time")) return false;
	}
	
</script>
