<div class="row-fluid">
	
	<form id="frmBreakExceedApproved" name="frmBreakExceedApproved" method="post" action="late_coming_compensation_report.php">

		<input type="hidden" name="action" id="action" value="BreakExceedApprovedSearch" />

		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3">
					Month:
					</label>
					<select name='month' id='month'>
						<option value="01">January</option>
						<option value="02">Feburary</option>
						<option value="03">March</option>
						<option value="04">April</option>
						<option value="05">May</option>
						<option value="06">June</option>
						<option value="07">July</option>
						<option value="08">August</option>
						<option value="09">September</option>
						<option value="10">October</option>
						<option value="11">November</option>
						<option value="12">December</option>
					</select>
					<script type="text/javascript">
						if("{month}" != "")
						{
							$("#month").val("{month}");
							$.uniform.update("#month");
						}
					</script>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3">
					Year:
					</label>
					<select name='year' id='year'>
						<!--BeginDisplayYearBlock-->
						<option value="{curyr}">{curyr}</option>
						<!--EndDisplayYearBlock-->
					</select>
					<script type="text/javascript">
						if("{year}" != "")
						{
							$("#year").val("{year}");
							$.uniform.update("#year");
						}
					</script>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="form-actions">
						<div class="span3"></div>
						<div class="span4 controls">
							<button type="submit" id="getdata" class="btn marginR10">Search</button>
							<button type="button" class="btn btn-info marginR10" name="cancel" id="cancel" onclick="window.location='dashboard.php'">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	
	<div class="row-fluid">
		<div class="span12">
			<div class="box gradient">
				<div class="title">
					<h4>
						<span>Late Coming Compensation  Report for Year: {year}, Month: {month}</span>
					</h4>
				</div>
				<div class="content noPad clearfix flexiblewidth" id="search_result">
					<table id="tblApprovedBreakExceed" cellpadding="0" cellspacing="0" border="0" class="responsive display table table-bordered" width="100%">
						<thead>
							<tr>
								<th>Employee Name</th>
								<th>Late Coming Date</th>
								<th>Total Late Time</th>
								<th>Compensation Date</th>
								<th>Compensation From Time</th>
								<th>Compensation To Time</th>
								<th>Compensation Total Time</th>
							</tr>
						</thead>
						<tbody>
							<!--BeginFillBreakExceedApprovedInformation-->
							<tr class="odd gradeX">
								<td>{name}</td>
								<td>{datetime}</td>
								<td>{late_time}</td>
								<td>{compensation_date}</td>
								<td>{compensation_fromtime}</td>
								<td>{compensation_totime}</td>
								<td>{diff}</td>
							</tr>
							<!--EndFillBreakExceedApprovedInformation-->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#tblApprovedBreakExceed').dataTable( {
			"sPaginationType": "full_numbers",
			"bJQueryUI": false,
			"bAutoWidth": false,
			"bLengthChange": false,
			"iDisplayLength": 20,
			"aoColumns": [
				null,
				null, 
				null,
				null,
				null,
				null,
				null
			]
		});
	});
</script>
