		<!-- Build page from here: -->
		<div class="row-fluid seperator">
			<div class="span12">
			<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Reporting Head:</b></label>
							<label class="form-label span3 clsleft">{reportinghead}</label>
						</div>
					</div>
				</div>
				<!--BeginPhLabel-->
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Use public holiday:</b></label>
							<label class="form-label span3 clsleft">Yes</label>
						</div>
					</div>
				</div>
				<!--EndPhLabel-->
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Emergency Leave:</b></label>
							<label class="form-label span3 clsleft">{emergency_leave}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>No of days:</b></label>
							<label class="form-label span3 clsleft">{nodays}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Start date:</b></label>
							<label class="form-label span3 clsleft">{startdate}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>End date:</b></label>
							<label class="form-label span3 clsleft">{enddate}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Reason:</b></label>
							<label class="form-label span3 clsleft">{reason}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Address:</b></label>
							<label class="form-label span3 clsleft">{leave_address}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Contact:</b></label>
							<label class="form-label span3 clsleft">{leave_contact}</label>
						</div>
					</div>
				</div>

				<!--BeginFillDelegateReadable-->
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Status by delegate TL:</b></label>
							<label class="form-label span3 clsleft">{status2}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Comment by delegate TL:</b></label>
							<label class="form-label span3 clsleft">{comment2}</label>
						</div>
					</div>
				</div>
				<!--EndFillDelegateReadable-->
				
				<!--BeginFillTemaLeaderReadable-->
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Status by TL:</b></label>
							<label class="form-label span3 clsleft">{status1}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Comment by TL:</b></label>
							<label class="form-label span3 clsleft">{comment1}</label>
						</div>
					</div>
				</div>
				<!--EndFillTemaLeaderReadable-->
				
				<!--BeginFillManagerReadable-->
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Status by manager:</b></label>
							<label class="form-label span3 clsleft">{status_manager1}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Comment by manager:</b></label>
							<label class="form-label span3 clsleft">{comment_manager1}</label>
						</div>
					</div>
				</div>
				<!--EndFillManagerReadable-->

				<!--BeginFillManagerDelegateReadable-->
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Status by delegate manager:</b></label>
							<label class="form-label span3 clsleft">{status3}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Comment by delegate manager:</b></label>
							<label class="form-label span3 clsleft">{comment3}</label>
						</div>
					</div>
				</div>
				<!--EndFillManagerDelegateReadable-->
				
				<!--BeginFillDelegate-->
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Delegate To:</b></label>
							<label class="form-label span3 clsleft">{delegateTo}</label>
						</div>
					</div>
				</div>
				<!--EndFillDelegate-->

				<!--BeginFillDelegateManager-->
				<!--div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Delegate Manager To:</b></label>
							<label class="form-label span3 clsleft">{delegateManagerTo}</label>
						</div>
					</div>
				</div-->
				<!--EndFillDelegateManager-->
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Active:</b></label>
							<label class="form-label span3 clsleft">{isactive_text}</label>
						</div>
					</div>
				</div>
				<!--BeginDisplayAdminAddedBlock-->
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Approval Status:</b></label>
							<label class="form-label span3 clsleft">{status_manager1}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Approval Comment:</b></label>
							<label class="form-label span3 clsleft">{comment_manager1}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span6"><b>This leave is added by admin</b></label>
						</div>
					</div>
				</div>
				<!--EndDisplayAdminAddedBlock-->
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<div class="form-actions">
								<div class="span3"></div>
								<div class="span4 controls">
									<button type="button" class="btn btn-info marginR10" name="back" id="back" onclick="window.location='leave_form.php'">Back</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End .span12 -->
		</div>
