<!-- Build page from here: Usual with <div class="row-fluid"></div> -->

<form id="leave_form" name="leave_form" action="" method="post">
	<input type="hidden" name="hdnaction" id="hdnaction" value="delete"/>
	<!--BeginLeaveFormAdd-->
	<span class="right">
		<a href="leave_form.add.php">
			<h4><span class="icon16 entypo-icon-add"></span> Add New Leave Form</h4>
		</a>
	</span>
	<!--EndLeaveFormAdd-->
	<div class="row-fluid">
		<div class="span12">
			<!--BeginDisplayMessageBlock-->
			<div class="alert {message_class}">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<strong>{message}</strong>
			</div>
			<!--EndDisplayMessageBlock-->
			<div class="box gradient">
				<div class="title">
					<h4> <span>Leave Form table</span> </h4>
				</div>
				<div class="content noPad clearfix">
					<table cellpadding="0" cellspacing="0" border="0" class="responsive display table table-bordered" width="100%" id="example">
						<thead>
							<tr>
								<!--th><input type='checkbox' name='chkall' id='chkall' /></th-->
								<th>No of leaves</th>
								<th>Start date</th>
								<th>End date</th>
								<th>Emergency Leave</th>
								<th>Teamleader Approval</th>
								<th>Manager Approval</th>
								<th>Active</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							<!--BeginFillLeaveFormValues-->
							<tr class="odd gradeX">
								<!--td><input type="checkbox" id="chk" name="chk[]" value="{id}" class="chkone"/></td-->
								<td>{nodays}</td>
								<td>{startdate}</td>
								<td>{enddate}</td>
								<td>{emergency_leave}</td>
								<td>{teamleader_status}</td>
								<td>{manager_status}</td>
								<td>{isactive_text}</td>
								<td><a href="leave_form.view.php?id={id}" name="view" id="view" title="View Leave Form" class="tip"><span class="icon12 brocco-icon-search"></span></a><!--<a href="leave_form.add.php?id={id}&action=update" name="update" id="update" title="Edit Leave Form" class="tip"><span class="icon12 icomoon-icon-pencil"></span></a>--></td>
							</tr>
							<!--EndFillLeaveFormValues-->
						</tbody>
					</table>
				</div>
				<!--<span class="btn btn-danger"> <span class="icon16 icomoon-icon-cancel-2 white"></span>
				<input type="submit" name="delete" id="delete" value="Delete" />
				</span> --> </div>
			<!-- End .box -->
		</div>
		<!-- End .span12 -->
	</div>
</form>
<!-- End .row-fluid -->
<!-- Page end here -->
<script type="text/javascript">
$(document).ready(function(){
		
		$('#example').dataTable( {
			"sPaginationType": "full_numbers",
			"bJQueryUI": false,
			"bAutoWidth": false,
			"bLengthChange": false,
			"aaSorting": [[ 1, "desc" ]],
			"aoColumns": [
				null,
				{ "sType": "date-uk" }, 
				{ "sType": "date-uk" }, 
				null,
				null,
				null,
				null,
				null
			]
		});
	});
</script>
