


<!-- Build page from here: Usual with <div class="row-fluid"></div> -->

                    <div class="row-fluid">

                        <div class="span12">

                            <div class="box gradient">

                                <div class="title">
                                    <h4>
                                        <span>Data table</span>
                                    </h4>
                                </div>
                                <div class="content noPad clearfix" style="overflow:scroll;">
                                    <table cellpadding="0" cellspacing="0" border="0" class="responsive dynamicTable display table table-bordered" width="100%">
                                        <thead>
                                            <tr>
                                               <th style="white-space:nowrap;font-size: 17px;">Date of Joining of Transform Solution P. Ltd.</th>
									<th style="white-space:nowrap;font-size: 17px;">New Emp. Code </th>
									<th style="white-space:nowrap;font-size: 17px;">Name</th>
									<th style="white-space:nowrap;font-size: 17px;">Fathers / Husband Name </th>
									<th style="white-space:nowrap;font-size: 17px;">Permanent Address</th>
									<th style="white-space:nowrap;font-size: 17px;">Current Address</th>
									<th style="white-space:nowrap;font-size: 17px;">Location</th>
									<th style="white-space:nowrap;font-size: 17px;">City& Zip</th>
									<th style="white-space:nowrap;font-size: 17px;">Date of Birth</th>
									<th style="white-space:nowrap;font-size: 17px;">Emergency Contact Name</th>
									<th style="white-space:nowrap;font-size: 17px;">Relation</th>
									<th style="white-space:nowrap;font-size: 17px;">Emergency Contact Phone</th>
									<th style="white-space:nowrap;font-size: 17px;">Phone No.</th>
									<th style="white-space:nowrap;font-size: 17px;">Mobile</th>
									<th style="white-space:nowrap;font-size: 17px;">Company Mobile No. </th>
									<th style="white-space:nowrap;font-size: 17px;">personal email id</th>
									<th style="white-space:nowrap;font-size: 17px;">Official Email</th>
									<th style="white-space:nowrap;font-size: 17px;">Qualification</th>
									<th style="white-space:nowrap;font-size: 17px;">Gender</th>
									<th style="white-space:nowrap;font-size: 17px;">Experience</th>
									<th style="white-space:nowrap;font-size: 17px;">Current Designation</th>
									<th style="white-space:nowrap;font-size: 17px;">Old Designation</th>
									<th style="white-space:nowrap;font-size: 17px;">ID Card</th>
									<th style="white-space:nowrap;font-size: 17px;">Blood Group</th>
									<th style="white-space:nowrap;font-size: 17px;">Current  Salary / CTC</th>
									<th style="white-space:nowrap;font-size: 17px;">Start CTC</th>
									<th style="white-space:nowrap;font-size: 17px;">10% Deduction or Retention bonus Scheme </th>
									<th style="white-space:nowrap;font-size: 17px;">Retention Amount</th>
									<th style="white-space:nowrap;font-size: 17px;">Employee Reference Details</th>
									<th style="white-space:nowrap;font-size: 17px;">Offer Letter Issued</th>
									<th style="white-space:nowrap;font-size: 17px;">PF NO. GJ/SRT/ 35455</th>
									<th style="white-space:nowrap;font-size: 17px;">ESIC NO.39/31084/90</th>
									<th style="white-space:nowrap;font-size: 17px;">ICICI Bank Account no.</th>
									<th style="white-space:nowrap;font-size: 17px;">Terminated / Absconding / Resigned</th>
									<th style="white-space:nowrap;font-size: 17px;">Date of Resignation letter / Termination</th>
									<th style="white-space:nowrap;font-size: 17px;">Relieving date by Operation Manager / HR</th>
									<th style="white-space:nowrap;font-size: 17px;">Reason of Leaving</th>
									<th style="white-space:nowrap;font-size: 17px;">Issued Relieving letter & Experience letter</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           <!--BeginFillEmployeeDetails-->
								<tr class="odd gradeX">
									<td>{emp_date_joining}</td>
									<td>{employee_code}</td>
									<td>{name}</td>
									<td>{father_husband_name}</td>
									<td>{address}</td>
									<td>{current_address}</td>
									<td>{location}</td>
									<td>{city} & {zip}</td>
									<td>{emp_dob}</td>
									<td>{emergency_contact_name}</td>
									<td>{relation}</td>
									<td>{emergency_contact}</td>
									<td>{contact}</td>
									<td>{phone_number}</td>
									<td>{company_mobile_no}</td>
									<td>{email}</td>
									<td>{official_email}</td>
									<td>{qualification}</td>
									<td>{emp_gender}</td>
									<td>{experience}</td>
									<td>{curr_designation}</td>
									<td>{old_designation}</td>
									<td>{emp_id_card}</td>
									<td>{blood_group}</td>
									<td>{current_salary_ctc}</td>
									<td>{start_ctc}</td>
									<td>{emp_retention_bonus_scheme}</td>
									<td>{retention_amount}</td>
									<td>{employee_reference_detail}</td>
									<td>{emp_offer_letter_issued}</td>
									<td>{pf_no}</td>
									<td>{esic_no}</td>
									<td>{icici_bank_ac_no}</td>
									<td>{emp_terminated_absconding_resigned}</td>
									<td>{resign_terminate}</td>
									<td>{relieving_date}</td>
									<td>{reason_of_leaving}</td>
									<td>{emp_issues_relieving_offer_letter}</td>
								</tr>
								<!--EndFillEmployeeDetails-->
                                            
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                               <th style="white-space:nowrap;font-size: 17px;">Date of Joining of Transform Solution P. Ltd.</th>
									<th style="white-space:nowrap;font-size: 17px;">New Emp. Code </th>
									<th style="white-space:nowrap;font-size: 17px;">Name</th>
									<th style="white-space:nowrap;font-size: 17px;">Fathers / Husband Name </th>
									<th style="white-space:nowrap;font-size: 17px;">Permanent Address</th>
									<th style="white-space:nowrap;font-size: 17px;">Current Address</th>
									<th style="white-space:nowrap;font-size: 17px;">Location</th>
									<th style="white-space:nowrap;font-size: 17px;">City& Zip</th>
									<th style="white-space:nowrap;font-size: 17px;">Date of Birth</th>
									<th style="white-space:nowrap;font-size: 17px;">Emergency Contact Name</th>
									<th style="white-space:nowrap;font-size: 17px;">Relation</th>
									<th style="white-space:nowrap;font-size: 17px;">Emergency Contact Phone</th>
									<th style="white-space:nowrap;font-size: 17px;">Phone No.</th>
									<th style="white-space:nowrap;font-size: 17px;">Mobile</th>
									<th style="white-space:nowrap;font-size: 17px;">Company Mobile No. </th>
									<th style="white-space:nowrap;font-size: 17px;">personal email id</th>
									<th style="white-space:nowrap;font-size: 17px;">Official Email</th>
									<th style="white-space:nowrap;font-size: 17px;">Qualification</th>
									<th style="white-space:nowrap;font-size: 17px;">Gender</th>
									<th style="white-space:nowrap;font-size: 17px;">Experience</th>
									<th style="white-space:nowrap;font-size: 17px;">Current Designation</th>
									<th style="white-space:nowrap;font-size: 17px;">Old Designation</th>
									<th style="white-space:nowrap;font-size: 17px;">ID Card</th>
									<th style="white-space:nowrap;font-size: 17px;">Blood Group</th>
									<th style="white-space:nowrap;font-size: 17px;">Current  Salary / CTC</th>
									<th style="white-space:nowrap;font-size: 17px;">Start CTC</th>
									<th style="white-space:nowrap;font-size: 17px;">10% Deduction or Retention bonus Scheme </th>
									<th style="white-space:nowrap;font-size: 17px;">Retention Amount</th>
									<th style="white-space:nowrap;font-size: 17px;">Employee Reference Details</th>
									<th style="white-space:nowrap;font-size: 17px;">Offer Letter Issued</th>
									<th style="white-space:nowrap;font-size: 17px;">PF NO. GJ/SRT/ 35455</th>
									<th style="white-space:nowrap;font-size: 17px;">ESIC NO.39/31084/90</th>
									<th style="white-space:nowrap;font-size: 17px;">ICICI Bank Account no.</th>
									<th style="white-space:nowrap;font-size: 17px;">Terminated / Absconding / Resigned</th>
									<th style="white-space:nowrap;font-size: 17px;">Date of Resignation letter / Termination</th>
									<th style="white-space:nowrap;font-size: 17px;">Relieving date by Operation Manager / HR</th>
									<th style="white-space:nowrap;font-size: 17px;">Reason of Leaving</th>
									<th style="white-space:nowrap;font-size: 17px;">Issued Relieving letter & Experience letter</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                            </div><!-- End .box -->

                        </div><!-- End .span12 -->

                    </div><!-- End .row-fluid -->
               
    			<!-- Page end here -->
