<script type="text/javascript" src="js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="js/print.js"></script>

<div id="printDiv">
	<h4>Attendance Information {headingdate}</h4>

	<table cellpadding="1" cellspacing="0" border="0" width="100%" style="border:1px solid;font-size:14px;">
		<tr bgcolor="#FFFFFF">
			<th style="border:1px solid;">Employee Name</th>
			<!--BeginFillSearchDateBlock-->
			<th  style="border:1px solid;">{DisplayDate}&nbsp;&nbsp;</th>
			<!--EndFillSearchDateBlock-->
		</tr>
		<!--BeginFillAttendanceInformation-->
		<tr bgcolor="#FFFFFF">
			<td style="border:1px solid;">{employeename}</td>
			<!--BeginFillEmployeeAttendanceBlock-->
			<td style="border:1px solid;text-align:center;" bgcolor="{strColor}"><span class="tip" title="{tip_info}">{attendance_displaystr}</span></td>
			<!--EndFillEmployeeAttendanceBlock-->
		</tr>
		<!--EndFillAttendanceInformation-->
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#printDiv").print();
	});
</script>
