<div class="row-fluid">
	<div class="span12">

		<!--BeginDisplayMessageBlock-->
		<div class="alert {message_class}">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<strong>{message}</strong>
		</div>
		<!--EndDisplayMessageBlock-->

		<div class="box gradient">
			<div class="title">
				<h4>
					<span>Requisition</span>
					<span style="float:right;padding-right:10px;">
						<form name="frmRequisitionRequest" id="frmRequisitionRequest" method="post" action="requisition_request_list.php">
							<input type="checkbox" name="chkViewAll" id="chkViewAll" value="1" onclick="document.frmRequisitionRequest.submit();" {checkedStr} />View all
							<input type="hidden" name="action" id="action" value="SearchRequisitionRequest" />
						</form>
					</span>
				</h4>
			</div>
			<div class="content noPad clearfix flexiblewidth">
				<table cellpadding="0" cellspacing="0" border="0" class="responsive display table table-bordered" width="100%" id="tblRequisition">
					<thead>
						<tr>
							<th>User Name</th>
							<th>Requisition For</th>
							<th>Project Name</th>
							<th>Request Type</th>
							<th>Added on</th>
							<th>Status</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						<!--BeginFillRequisitionRequestList-->
						<tr class="odd gradeX">
							<td>{name}</td>
							<td>{requisition_for_title}</td>
							<td>{project_name}</td>
							<td>{request_type_text}</td>
							<td>{addeddate}</td>
							<td>{approval_status_text}</td>
							<td>
								<a href="requisition_request_view.php?id={requisitionid}" name="view" id="view" title="View Requisition" class="tip">
									<span class="icon12 brocco-icon-search"></span>
								</a>
							</td>
						</tr>
						<!--EndFillRequisitionRequestList-->
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#tblRequisition').dataTable( {
			"sPaginationType": "full_numbers",
			"bJQueryUI": false,
			"bAutoWidth": false,
			"bLengthChange": false,
			"aaSorting": [[ 4, "desc" ]],
			"aoColumns": [
				null,
				null,
				null,
				null,
				{ "sType": "date-uk" }, 
				null,
				null
			]
		});
	});
</script>
