<div class="row-fluid seperator">
	<div class="span12">
		<!--BeginDisplayRequisitionInventoryInformationBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Requisition Inventory:</b></label>
					<label class="form-label span3 clsleft">{title}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Description:</b></label>
					<label class="form-label span3 clsleft">{description}</label>
				</div>
			</div>
		</div>
		<!--div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Allow Team leaders:</b></label>
					<label class="form-label span3 clsleft">{allow_teamleaders_text}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Allow Managers:</b></label>
					<label class="form-label span3 clsleft">{allow_managers_text}</label>
				</div>
			</div>
		</div-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Allowed Designation:</b></label>
					<label class="form-label span6 clsleft">{allowed_designation_text}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Approval Required:</b></label>
					<label class="form-label span3 clsleft">{approval_required_text}</label>
				</div>
			</div>
		</div>
		<!--EndDisplayRequisitionInventoryInformationBlock-->
		<!--BeginDisplayNoRequisitionInventoryInformationBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>No requisition inventory information.</b></label>
				</div>
			</div>
		</div>
		<!--EndDisplayNoRequisitionInventoryInformationBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="form-actions">
						<div class="span3"></div>
						<div class="span4 controls">
							<button type="button" class="btn btn-info marginR10" name="back" id="back" onclick="window.location='requisition_inventory_list.php'">Back</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

