		<!-- Build page from here: -->
		<div class="row-fluid seperator">
			<div class="span12">
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Title:</b></label>
							<label class="form-label span3 clsleft">{title}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Description:<b></label>
							<label class="form-label span3 clsleft">{rols_description}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3" for="description"><b>Modules:</b></label>
							<div style="float:left;font-weight:normal;">
								<!--BeginFillModules-->
								{mod_title}<br />	
								<!--EndFillModules-->
							</div>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<div class="form-actions">
								<div class="span3"></div>
								<div class="span4 controls">
									<button type="button" class="btn btn-info marginR10" name="back" id="back" onclick="window.location='roles.php'">Back</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End .span12 -->
		</div>
