		<!-- Build page from here: -->
		<div class="row-fluid seperator">
			<div class="span12">
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Designation:</b></label>
							<label class="form-label span3 clsleft">{des_title}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Min. Amount:</b></label>
							<label class="form-label span3 clsleft">{lowest}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Max. Amount:</b></label>
							<label class="form-label span3 clsleft">{highest}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<div class="form-actions">
								<div class="span3"></div>
								<div class="span4 controls">
									<button type="button" class="btn btn-info marginR10" name="back" id="back" onclick="window.location='salary_offered.php'">Back</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End .span12 -->
		</div>
