<form name="frmCompensationRequest" id="frmCompensationRequest" method="post" action="shift_movement_compensation_request_view.php" onsubmit="javascript: return fnvalidate()">
	
	<input type="hidden" name="id" id="id" value="{compensationid}" />
	
	<div class="row-fluid seperator">
		<div class="span12">
			<!--BeginDisplayMovementCompensationReqestInformationBlock-->
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3"><b>Employee Name:</b></label>
						<label class="form-label span3 clsleft">{employeename}</label>
					</div>
				</div>
			</div>
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3"><b>Movement Date:</b></label>
						<label class="form-label span3 clsleft">{movementdate}</label>
					</div>
				</div>
			</div>
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3"><b>Movement Time:</b></label>
						<label class="form-label span3 clsleft">{movementfrom} - {movementto}</label>
					</div>
				</div>
			</div>
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3"><b>Compensation Date:</b></label>
						<label class="form-label span3 clsleft">{compensationdate}</label>
					</div>
				</div>
			</div>
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3"><b>Compensation Time:</b></label>
						<label class="form-label span3 clsleft">{compensationfrom} - {compensationto}</label>
					</div>
				</div>
			</div>
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3"><b>Reason:</b></label>
						<label class="form-label span3 clsleft">{reason}</label>
					</div>
				</div>
			</div>
			<!--BeginDisplayAdminNoteBlock-->
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3"><b>Note * :</b></label>
						<label class="form-label span6 clsleft">This shift movement compensation is added by Admin.</label>
					</div>
				</div>
			</div>
			<!--EndDisplayAdminNoteBlock-->
			<!--BeginDisplayHeadEntryBlock-->
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3"><b>Reporting head's Approval:</b></label>
						<select name="approvedby_tl" id="approvedby_tl">
							<option value="">Please Select</option>
							<option value="0">Pending</option>
							<option value="1">Approved</option>
							<option value="2">Unapproved</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3"><b>Reporting head's Comment:</b></label>
						<textarea name="tl_comment" id="tl_comment" class="span4"></textarea>
					</div>
				</div>
			</div>
			<!--EndDisplayHeadEntryBlock-->
			<!--BeginDisplayHeadDisplayBlock-->
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3"><b>Reporting head's Approval:</b></label>
						<label class="form-label span3 clsleft">{tlapproval}</label>
					</div>
				</div>
			</div>
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3"><b>Reporting head's Comment:</b></label>
						<label class="form-label span3 clsleft">{tl_comment}</label>
					</div>
				</div>
			</div>
			<!--EndDisplayHeadDisplayBlock-->
			<!--BeginDisplayDelegatedTeamleaderEntryBlock-->
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3"><b>Delegated reporting head's Approval:</b></label>
						<select name="delegatedtl_status" id="delegatedtl_status">
							<option value="">Please Select</option>
							<option value="0">Pending</option>
							<option value="1">Approved</option>
							<option value="2">Unapproved</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3"><b>Delegated reporting head's Comment:</b></label>
						<textarea name="delegatedtl_comment" id="delegatedtl_comment" class="span4"></textarea>
					</div>
				</div>
			</div>
			<!--EndDisplayDelegatedTeamleaderEntryBlock-->
			<!--BeginDisplayDelegatedTeamleaderDisplayBlock-->
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3"><b>Delegated reporting head's Approval:</b></label>
						<label class="form-label span3 clsleft">{delegatedtlapproval}</label>
					</div>
				</div>
			</div>
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3"><b>Delegated reporting head's Comment:</b></label>
						<label class="form-label span3 clsleft">{delegatedtl_comment}</label>
					</div>
				</div>
			</div>
			<!--EndDisplayDelegatedTeamleaderDisplayBlock-->
			<!--EndDisplayMovementCompensationReqestInformationBlock-->
			<!--BeginDisplayNoMovemenCompensationtRequestBlock-->
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						Shift movement compensation request information not found
					</div>
				</div>
			</div>
			<!--EndDisplayNoMovemenCompensationtRequestBlock-->
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<div class="form-actions">
							<div class="span3"></div>
							<div class="span4 controls">
								<!--BeginDisplayDelegatedTeamLeaderBlock-->
								<input type="hidden" name="delegatedtl_id" id="delegatedtl_id" value="{curdelegatedtl_id}" />
								<!--EndDisplayDelegatedTeamLeaderBlock-->
								
								<!--BeginDisplaySubmitButtonBlock-->
								<input type="hidden" name="action" id="action" value="CompensationRequest" />
								<button type="submit" class="btn btn-info marginR10" name="back" id="back" >Save</button>
								<!--EndDisplaySubmitButtonBlock-->
								<button type="button" class="btn btn-info marginR10" name="back" id="back" onclick="window.location='shift_movement_compensation_requests.php'">Back</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<script type="text/javascript">
	function fnvalidate()
	{
		if(document.getElementById("approvedby_tl"))
		{
			if(!checkblank($("#approvedby_tl"),"Please select reporting head's approval status")) return false;
			if(!checkblank($("#tl_comment"),"Please enter comment")) return false;
		}
		else if(document.getElementById("delegatedtl_status"))
		{
			if(!checkblank($("#delegatedtl_status"),"Please select delegated reporting head's approval status")) return false;
			if(!checkblank($("#delegatedtl_comment"),"Please enter comment")) return false;
		}
		else
			return false;
	}
</script>
