		<!-- Build page from here: -->
		<div class="row-fluid seperator">
			<div class="span12">
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Shift Name:</b></label>
							<label class="form-label span3 clsleft">{title}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Description:</b></label>
							<label class="form-label span3 clsleft">{description}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Start time:</b></label>
							<label class="form-label span3 clsleft">{starttime}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>End time:</b></label>
							<label class="form-label span3 clsleft">{endtime}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Namaz break time:</b></label>
							<label class="form-label span3 clsleft">{namaz_break_time} minutes</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Namaz time applicable for::</b></label>
							<label class="form-label span3 clsleft">{ApplicableDay}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<div class="form-actions">
								<div class="span3"></div>
								<div class="span4 controls">
									<button type="button" class="btn btn-info marginR10" name="back" id="back" onclick="window.location='shifts.php'">Back</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End .span12 -->
		</div>
