<div class="row-fluid seperator">
	<div class="span12">
		<!--BeginDisplayMovementInformationBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Movement Date:</b></label>
					<label class="form-label span3 clsleft">{movementdate}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Movement Time:</b></label>
					<label class="form-label span3 clsleft">{movementfrom} - {movementto}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Compensation Date:</b></label>
					<label class="form-label span3 clsleft">{compensationdate}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Compensation Time:</b></label>
					<label class="form-label span3 clsleft">{compensationfrom} - {compensationto}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Reason:</b></label>
					<label class="form-label span3 clsleft">{reason}</label>
				</div>
			</div>
		</div>
		<!--BeginDisplayAdminNoteBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Note * :</b></label>
					<label class="form-label span6 clsleft">This shift movement is added by Admin.</label>
				</div>
			</div>
		</div>
		<!--EndDisplayAdminNoteBlock-->
		<!--BeginDisplayTeamLeaderBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Teamleader's Approval:</b></label>
					<label class="form-label span3 clsleft">{tlapproval}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Teamleader's Comment:</b></label>
					<label class="form-label span3 clsleft">{lt_comments}</label>
				</div>
			</div>
		</div>
		<!--EndDisplayTeamLeaderBlock-->
		<!--BeginDisplayManagerBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Manager's Approval:</b></label>
					<label class="form-label span3 clsleft">{managerapproval}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Manager's Comment:</b></label>
					<label class="form-label span3 clsleft">{manager_comments}</label>
				</div>
			</div>
		</div>
		<!--EndDisplayManagerBlock-->
		<!--BeginDisplayDelegatedTlBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Delegated teamleader's Approval:</b></label>
					<label class="form-label span3 clsleft">{delegatedtlapproval}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Delegated teamleader's Comment:</b></label>
					<label class="form-label span3 clsleft">{delegatedtl_comment}</label>
				</div>
			</div>
		</div>
		<!--EndDisplayDelegatedTlBlock-->
		<!--BeginDisplayDelegatedManagerBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Delegated manager's Approval:</b></label>
					<label class="form-label span3 clsleft">{delegatedmanagerapproval}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Delegated manager's Comment:</b></label>
					<label class="form-label span3 clsleft">{delegatedmanager_comment}</label>
				</div>
			</div>
		</div>
		<!--EndDisplayDelegatedManagerBlock-->
		<!--EndDisplayMovementInformationBlock-->
		<!--BeginDisplayNoMovementBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					Shift movement information not found
				</div>
			</div>
		</div>
		<!--EndDisplayNoMovementBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="form-actions">
						<div class="span3"></div>
						<div class="span4 controls">
							<button type="button" class="btn btn-info marginR10" name="back" id="back" onclick="window.location='shift_movement_list.php'">Back</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
