<div class="row-fluid seperator">
	<div class="span12">
		<!--BeginDisplayMovementCompensationInformationBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Movement Date:</b></label>
					<label class="form-label span3 clsleft">{movementdate}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Movement Time:</b></label>
					<label class="form-label span3 clsleft">{movementfrom} - {movementto}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Compensation Date:</b></label>
					<label class="form-label span3 clsleft">{compensationdate}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Compensation Time:</b></label>
					<label class="form-label span3 clsleft">{compensationfrom} - {compensationto}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Reason:</b></label>
					<label class="form-label span3 clsleft">{reason}</label>
				</div>
			</div>
		</div>
		<!--BeginDisplayAdminNoteBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Note * :</b></label>
					<label class="form-label span6 clsleft">This shift movement compensation is added by Admin.</label>
				</div>
			</div>
		</div>
		<!--EndDisplayAdminNoteBlock-->
		<!--BeginDisplayReportingHead-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Reporting head's Approval:</b></label>
					<label class="form-label span3 clsleft">{tlapproval}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Reporting head's Comment:</b></label>
					<label class="form-label span3 clsleft">{tl_comment}</label>
				</div>
			</div>
		</div>
		<!--EndDisplayReportingHead-->
		<!--BeginDisplayDelegatedReportingHead-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Delegate Reporting head's Approval:</b></label>
					<label class="form-label span3 clsleft">{delegatedtlapproval}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Delegate Reporting head's Comment:</b></label>
					<label class="form-label span3 clsleft">{delegatedtl_comment}</label>
				</div>
			</div>
		</div>
		<!--EndDisplayDelegatedReportingHead-->
		<!--EndDisplayMovementCompensationInformationBlock-->
		<!--BeginDisplayNoMovemenCompensationtBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					Shift movement compensation information not found
				</div>
			</div>
		</div>
		<!--EndDisplayNoMovemenCompensationtBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="form-actions">
						<div class="span3"></div>
						<div class="span4 controls">
							<button type="button" class="btn btn-info marginR10" name="back" id="back" onclick="window.location='shift_movement_compensation_list.php'">Back</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
