<div class="row-fluid">
	
	<form id="frmLateComing" name="frmLateComing" method="post" action="shift_movement_report.php">

		<input type="hidden" name="action" id="action" value="shiftMovementSearch" />

		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3">
					Month:
					</label>
					<select name='month' id='month'>
						<option value="01">January</option>
						<option value="02">Feburary</option>
						<option value="03">March</option>
						<option value="04">April</option>
						<option value="05">May</option>
						<option value="06">June</option>
						<option value="07">July</option>
						<option value="08">August</option>
						<option value="09">September</option>
						<option value="10">October</option>
						<option value="11">November</option>
						<option value="12">December</option>
					</select>
					<script type="text/javascript">
						if("{month}" != "")
						{
							$("#month").val("{month}");
							$.uniform.update("#month");
						}
					</script>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3">
					Year:
					</label>
					<select name='year' id='year'>
						<!--BeginDisplayYearBlock-->
						<option value="{curyr}">{curyr}</option>
						<!--EndDisplayYearBlock-->
					</select>
					<script type="text/javascript">
						if("{year}" != "")
						{
							$("#year").val("{year}");
							$.uniform.update("#year");
						}
					</script>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="form-actions">
						<div class="span3"></div>
						<div class="span4 controls">
							<button type="submit" id="getdata" class="btn marginR10">Search</button>
							<button type="button" class="btn btn-info marginR10" name="cancel" id="cancel" onclick="window.location='dashboard.php'">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	
	<div class="row-fluid">
		<div class="span12">
			<div class="box gradient">
				<div class="title">
					<h4>
						<span>Shift Movement Report for Year: {year}, Month: {month}</span>
					</h4>
				</div>
				<div class="content noPad clearfix flexiblewidth" id="search_result">
					<!--BeginDisplayShiftMovement-->
					<table id="attendanceTbl" cellpadding="0" cellspacing="0" border="0" class="responsive dynamicTable display table table-bordered" width="100%">
						<thead>
							<tr>
								<th style="white-space:nowrap;font-size: 17px;">Employee Name</th>
								<th style="white-space:nowrap;font-size: 17px;">Details</th>
							</tr>
						</thead>
						<tbody>
							<!--BeginFillMovementInformation-->
							<tr class="odd gradeX">
								<td>{employeename}</td>
								<td>
									<table class="responsive table table-bordered" width="100%" style="border: 1px solid #ddd;">
										<tr>
											<th>Movement Date</th>
											<th>Compensation Date</th>
											<th>Compensation Status</th>
										</tr>
										<!--BeginFillShiftMovementDetail-->
										<tr>
											<td>{movementDate}</td>
											<td>{componsationDate}</td>
											<td>{finalStaus}</td>
										</tr>
										<!--EndFillShiftMovementDetail-->
									</table>
								</td>
							</tr>
							<!--EndFillMovementInformation-->
						</tbody>
					</table>
					<!--EndDisplayShiftMovement-->
					<!--BeginNoDisplayShiftMovement-->
					No late coming data found.
					<!--EndNoDisplayShiftMovement-->
				</div>
			</div>
		</div>
	</div>
</div>
