<!--Sidebar content-->
<div class="collapseBtn">
<a class="tipR" href="#" oldtitle="Hide sidebar" title="" aria-describedby="ui-tooltip-8">
<span class="icon12 minia-icon-layout"></span>
</a>
</div>
<div id="sidebarbg"></div>
<div id="sidebar">
	<div class="shortcuts">
		<ul>
			<li><a href="#" title="Support section" class="tip"><span class="icon24 icomoon-icon-support"></span></a></li>
			<li><a href="#" title="Database backup" class="tip"><span class="icon24 icomoon-icon-database"></span></a></li>
			<li><a href="#" title="Sales statistics" class="tip"><span class="icon24 iconic-icon-chart"></span></a></li>
			<li><a href="#" title="Write post" class="tip"><span class="icon24 icomoon-icon-pencil"></span></a></li>
		</ul>
	</div>
	<!-- End search -->
	<div class="sidenav">
		<div class="sidebar-widget" style="margin: -1px 0 0 0;">
			<h5 class="title" style="margin-bottom:0">Navigation</h5>
		</div>
		<!-- End .sidenav-widget -->
		<div class="mainnav">
			<ul>
				<li><a href="profile.php"><span class="icon16 icomoon-icon-stats-up"></span>Profile</a></li>
				<li><a href="settings.php"><span class="icon16 icomoon-icon-stats-up"></span>Site Settings</a></li>
				<li><a href="roles.php"><span class="icon16 icomoon-icon-stats-up"></span>Role Management</a></li>
				<li> <a href="departments.php"><span class="icon16 minia-icon-list-4"></span>Departments</a></li>
				<li> <a href="designation.php"><span class="icon16 silk-icon-columns"></span>Designation</a></li>
				<li> <a href="employee.php"><span class="icon16 silk-icon-columns"></span>Employee</a></li>
				<li> <a href="project.php"><span class="icon16 brocco-icon-grid"></span>Projects</a></li>
				<li><a href="job_type.php"><span class="icon16 icomoon-icon-font"></span>Job Type</a></li>
				<li><a href="task.php"><span class="icon16 icomoon-icon-grid-view"></span>Task</a></li>
				<li><a href="clients.php"><span class="icon16 brocco-icon-calendar"></span>Clients</a></li>
				<li> <a href="widgets.html"><span class="icon16 icomoon-icon-cube"></span>Widgets<span class="notification green">28</span></a> </li>
				<li><a href="file.html"><span class="icon16 icomoon-icon-upload-2"></span>File Manager</a></li>
				<li> <a href="#"><span class="icon16 icomoon-icon-paper"></span>Error pages<span class="notification">6</span></a>
					<ul class="sub">
						<li><a href="403.html"><span class="icon16 icomoon-icon-paper"></span>Error 403</a></li>
						<li><a href="404.html"><span class="icon16 icomoon-icon-paper"></span>Error 404</a></li>
						<li><a href="405.html"><span class="icon16 icomoon-icon-paper"></span>Error 405</a></li>
						<li><a href="500.html"><span class="icon16 icomoon-icon-paper"></span>Error 500</a></li>
						<li><a href="503.html"><span class="icon16 icomoon-icon-paper"></span>Error 503</a></li>
						<li><a href="offline.html"><span class="icon16 icomoon-icon-paper"></span>Offline page</a></li>
					</ul>
				</li>
				<li> <a href="#"><span class="icon16 iconic-icon-box"></span>Other pages<span class="notification blue">2</span></a>
					<ul class="sub">
						<li><a href="invoice.html"><span class="icon16 icomoon-icon-paper"></span>Invoice page</a></li>
						<li><a href="profile.html"><span class="icon16 icomoon-icon-paper"></span>User profile</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- End sidenav -->
	<div class="sidebar-widget">
		<h5 class="title">Monthly Bandwidth Transfer</h5>
		<div class="content"> <span class="icon16 iconic-icon-transfer left"></span>
			<div class="progress progress-mini progress-danger left tip" title="87%">
				<div class="bar" style="width: 87%;"></div>
			</div>
			<span class="percent">87%</span>
			<div class="stat">19419.94 / 12000 MB</div>
		</div>
	</div>
	<!-- End .sidenav-widget -->
	<div class="sidebar-widget">
		<h5 class="title">Disk Space Usage</h5>
		<div class="content"> <span class="icon16 icomoon-icon-cloud left"></span>
			<div class="progress progress-mini progress-success left tip" title="16%">
				<div class="bar" style="width: 16%;"></div>
			</div>
			<span class="percent">16%</span>
			<div class="stat">304.44 / 8000 MB</div>
		</div>
	</div>
	<!-- End .sidenav-widget -->
	<div class="sidebar-widget">
		<h5 class="title">Ad sense stats</h5>
		<div class="content">
			<div class="stats">
				<div class="item">
					<div class="head clearfix">
						<div class="txt">Advert View</div>
					</div>
					<span class="icon16 icomoon-icon-eye left"></span>
					<div class="number">21,501</div>
					<div class="change"> <span class="icon24 icomoon-icon-arrow-up green"></span> 5% </div>
					<span id="stat1" class="spark"></span> </div>
				<div class="item">
					<div class="head clearfix">
						<div class="txt">Clicks</div>
					</div>
					<span class="icon16 entypo-icon-thumbs-up left"></span>
					<div class="number">308</div>
					<div class="change"> <span class="icon24 icomoon-icon-arrow-down red"></span> 8% </div>
					<span id="stat2" class="spark"></span> </div>
				<div class="item">
					<div class="head clearfix">
						<div class="txt">Page CTR</div>
					</div>
					<span class="icon16 icomoon-icon-heart left"></span>
					<div class="number">4%</div>
					<div class="change"> <span class="icon24 icomoon-icon-arrow-down red"></span> 1% </div>
					<span id="stat3" class="spark"></span> </div>
				<div class="item">
					<div class="head clearfix">
						<div class="txt">Earn money</div>
					</div>
					<span class="icon16 icomoon-icon-calculate left"></span>
					<div class="number">$376</div>
					<div class="change"> <span class="icon24 icomoon-icon-arrow-up green"></span> 26% </div>
					<span id="stat4" class="spark"></span> </div>
			</div>
		</div>
	</div>
	<!-- End .sidenav-widget -->
	<div class="sidebar-widget">
		<h5 class="title">Right now</h5>
		<div class="content">
			<div class="rightnow">
				<ul class="unstyled">
					<li><span class="number">34</span><span class="icon16 icomoon-icon-new"></span>Posts</li>
					<li><span class="number">7</span><span class="icon16 icomoon-icon-paper"></span>Pages</li>
					<li><span class="number">14</span><span class="icon16 brocco-icon-list"></span>Categories</li>
					<li><span class="number">201</span><span class="icon16 icomoon-icon-tag"></span>Tags</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End .sidenav-widget -->
</div>
