		<!-- Build page from here: -->
		<div class="row-fluid seperator">
			<div class="span12">
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Task Name:</b></label>
							<label class="form-label span3 clsleft">{task_title}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Description:</b></label>
							<label class="form-label span3 clsleft">{task_desc}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Project:</b></label>
							<label class="form-label span3 clsleft">{proj_title}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Job Type:</b></label>
							<label class="form-label span3 clsleft">{job_title}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Team Leader:</b></label>
							<label class="form-label span3 clsleft">{team_leader}</label>
						</div>
					</div>
				</div><div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Start Date:</b></label>
							<label class="form-label span3 clsleft">{start_date}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>End Date:</b></label>
							<label class="form-label span3 clsleft">{end_date}</label>
						</div>
					</div>
				</div>
				<!--div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Overtime:</b></label>
							<label class="form-label span3 clsleft">{newovertime}</label>
						</div>
					</div>
				</div>
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<label class="form-label span3"><b>Rework:</b></label>
							<label class="form-label span3 clsleft">{newrework}</label>
						</div>
					</div>
				</div-->
				<div class="form-row row-fluid">
					<div class="span12">
						<div class="row-fluid">
							<div class="form-actions">
								<div class="span3"></div>
								<div class="span4 controls">
									<button type="button" class="btn btn-info marginR10" name="back" id="back" onclick="window.location='task.php'">Back</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End .span12 -->
		</div>
		<!-- End .row-fluid -->
