		<!-- Build page from here: Usual with <div class="row-fluid"></div> -->
		<div class="row-fluid">
			<div class="span12">
				<div class="box gradient">
					<div class="title">
						<h4> <span>Report table</span> </h4>
					</div>
					<div class="content noPad clearfix flexiblewidth"  style="overflow:scroll;">
						<table cellpadding="0" cellspacing="0" border="0" class="responsive dynamicTable display table table-bordered" width="100%">
							<thead>
								<tr>
									<th>date</th>
									<th>intime</th>
									<th>outtime</th>
									<th>Break1_out</th>
									<th>Break1_in</th>
									<th>Break2_out</th>
									<th>Break2_in</th>
									<th>Break3_out</th>
									<th>Break3_in</th>
									<th>Break4_out</th>
									<th>Break4_in</th>
									<th>Break5_out</th>
									<th>Break5_in</th>
									<th>islate</th>
									<th>late time</th>
									<th>isbreak exceed</th>
									<th>break exceed time</th>
									<th>isallow</th>
									<th>total working</th>
									<th>official working</th>
								</tr>
							</thead>
							<tbody>
								<!--BeginFillReport-->
								<tr class="odd gradeX">
									<td>{date}</td>
									<td>{in_time}</td>
									<td>{out_time}</td>
									<td>{break1_in}</td>
									<td>{break1_out}</td>
									<td>{break2_in}</td>
									<td>{break2_out}</td>
									<td>{break3_in}</td>
									<td>{break3_out}</td>
									<td>{break4_in}</td>
									<td>{break4_out}</td>
									<td>{break5_in}</td>
									<td>{break5_out}</td>
									<td>{is_late}</td>
									<td>{late_time}</td>
									<td>{isExceededBreak}</td>
									<td>{break_exceed_time}</td>
									<td>{isLateAllowed}</td>
									<td>{total_working_hours}</td>
									<td>{official_total_working_hours}</td>
								</tr>
								<!--EndFillReport-->
							</tbody>
						</table>
						
					</div>
				</div>
				<!-- End .box -->
			</div>
			<!-- End .span12 -->
		</div>
		<!-- End .row-fluid -->
		

