<!-- Build page from here: -->

 <div class="row-fluid">

                        <div class="span12">

                            <div class="box">

                                <div class="title">

                                    <h4>
                                        <span class="icon16 brocco-icon-grid"></span>
                                        <span><b>Hello,  {candidate}</b></span>
                                    </h4>
                                    
                                </div>
                                <div class="content" style='color: #468847;'>
                                   
                                   
                                   <p>Your form is submitted successfully.
									<!--BeginFillBestOfLuck-->
										<br><br>Best of luck for your interview.
									<!--EndFillBestOfLuck-->
                                   </p> 
                                 
                                </div>

                            </div><!-- End .box -->

                        </div><!-- End .span12 -->

                    </div><!-- End .row-fluid -->  
