<div class="row-fluid seperator">
	<div class="span12">
		<!--BeginDisplayTicketInformationBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Issue Category:</b></label>
					<label class="form-label span3 clsleft">{issue_category}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Issue:</b></label>
					<label class="form-label span3 clsleft">{issue}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Description:</b></label>
					<label class="form-label span3 clsleft">{description}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Location:</b></label>
					<label class="form-label span3 clsleft">{location_name}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Issue Status:</b></label>
					<label class="form-label span3 clsleft">{resolution_status_text}</label>
				</div>
			</div>
		</div>
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>IT Support Comments:</b></label>
					<label class="form-label span3 clsleft">{resolution_description}</label>
				</div>
			</div>
		</div>
		<!--BeginDisplayAdditionalRequirementBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Additional requirement for:</b></label>
					<label class="form-label span3 clsleft">{requirement_for_text}</label>
				</div>
			</div>
		</div>
		<!--BeginDisplayAdditionalTimeBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Additional time:</b></label>
					<label class="form-label span3 clsleft">{additional_time}</label>
				</div>
			</div>
		</div>
		<!--EndDisplayAdditionalTimeBlock-->
		<!--BeginDisplayAdditionalAssetBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>Additional asset:</b></label>
					<label class="form-label span3 clsleft">{additional_asset_name}</label>
				</div>
			</div>
		</div>
		<!--EndDisplayAdditionalAssetBlock-->
		<!--EndDisplayAdditionalRequirementBlock-->
		<!--EndDisplayTicketInformationBlock-->
		<!--BeginDisplayNoTicketInformationBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<label class="form-label span3"><b>No ticket information found.</b></label>
				</div>
			</div>
		</div>
		<!--EndDisplayNoTicketInformationBlock-->
		<div class="form-row row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="form-actions">
						<div class="span3"></div>
						<div class="span4 controls">
							<button type="button" class="btn btn-info marginR10" name="back" id="back" onclick="window.location='ticket_list.php'">Back</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

