<div class="row-fluid">
	<div class="span12"> <span style="color:#ED7A53;">{message}</span>
		<form name="frmtimecompensation" id="frmtimecompensation" class="form-horizontal seperator" method="post" action="time_compensation.php" onsubmit="return fnValidate();" >
			
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3">Late on:</label>
						<select name="attendance_id" id="attendance_id" onchange="javascript: fnAttendanceChange($(this));">
							<option value="">Please select</option>
							<!--BeginFillCompensationDate-->
							<option value="{compensation_id}">{compensation_date}</option>
							<!--EndFillCompensationDate-->
						</select>
					</div>
				</div>
			</div>
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3">
						<!--Break exceed / -->Late on date:
						</label>
						<label class="form-label span6 clsleft" id="lblExceedOnDate" name="lblExceedOnDate">-</label>
						<input type="hidden" name="exceedondate" id="exceedondate" value='-' />
					</div>
				</div>
			</div>
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3"><!--Break exceed / -->Late for time:</label>
						<label class="form-label span6 clsleft" id="lblExceedForTime" name="lblExceedForTime">-</label>
						<input type="hidden" name="hExceedForTime" id="hExceedForTime" value='-' />
					</div>
				</div>
			</div>
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3">Compensation time:</label>
						<label class="form-label span6 clsleft" id="lblCompensationTime" name="lblCompensationTime">-</label>
						<input type="hidden" name="hCompensationTime" id="hCompensationTime" value='-' />
					</div>
				</div>
			</div>
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3" class = "required">
						Compensation date:
						</label>
						<input class="span4" name="compensation_date" id="compensation_date" type="text" value="{currentdate}" readonly="readonly" style="cursor:pointer;"/>
					</div>
				</div>
			</div>
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3">Compensation from time:</label>
						
						<select name="compensation_fromtime_hour" id="compensation_fromtime_hour" class="small">
							<!--BeginFillHoursBlock-->
							<option value="{hours}">{hours}</option>
							<!--EndFillHoursBlock-->
						</select>
						
						<select name="compensation_fromtime_minutes" id="compensation_fromtime_minutes" class="small">
							<!--BeginFillMinutesBlock-->
							<option value="{minutes}">{minutes}</option>
							<!--EndFillMinutesBlock-->
						</select>
						
						<select name="compensation_fromtime_ampm" id="compensation_fromtime_ampm" class="small">
							<option value="am">AM</option>
							<option value="pm">PM</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<label class="form-label span3">Compensation to time:</label>
						
						<select name="compensation_totime_hour" id="compensation_totime_hour" class="small">
							<!--BeginFillHoursBlock-->
							<option value="{hours}">{hours}</option>
							<!--EndFillHoursBlock-->
						</select>
						
						<select name="compensation_totime_minutes" id="compensation_totime_minutes" class="small">
							<!--BeginFillMinutesBlock-->
							<option value="{minutes}">{minutes}</option>
							<!--EndFillMinutesBlock-->
						</select>
						
						<select name="compensation_totime_ampm" id="compensation_totime_ampm" class="small">
							<option value="am">AM</option>
							<option value="pm">PM</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-row row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<div class="form-actions">
							<div class="span3"></div>
							<div class="span4 controls">
								<input type="hidden" name="action" id="action" value="TimeCompensation" />
								<input type="hidden" name="curdate" id="curdate" value="{currentdate}" />
								<button type="submit" class="btn btn-info marginR10" name="submit" id="submit">Save</button>
								<button type="button" class="btn btn-info marginR10" name="cancel" id="cancel" onclick="window.location='time_compensation_list.php'">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- End .span12 -->
</div>

<script type="text/javascript">

	function fnAttendanceChange($obj)
	{
		$("#lblExceedOnDate").html("-");
		$("#exceedondate").val("-");
		$("#lblExceedForTime").html("-");
		$("#hExceedForTime").val("-");
		$("#lblCompensationTime").html("-");
		$("#hCompensationTime").val("-");
		
		$id = $obj.val();
  
		if($id != "")
		{
			$arrId = $id.split("-");
			
			$.ajax({
				url: 'fetch_compensationdata.php',
				data: 'id='+$arrId[0]+"&type="+$arrId[1],
				dataType: 'json',
				async: false,
				success: function(data){
					
					$("#lblExceedOnDate").html(data.exceedondate);
					$("#exceedondate").val(data.exceedondate);
					$("#lblExceedForTime").html(data.exceedfortime);
					$("#hExceedForTime").val(data.exceedfortime);
					$("#lblCompensationTime").html(data.compensationtime);
					$("#hCompensationTime").val(data.compensationtime);
					
					$("#compensation_fromtime_hour").val(data.fromH);
					$("#compensation_fromtime_minutes").val(data.fromM);
					$("#compensation_fromtime_ampm").val(data.fromAMPM);
					
					$("#compensation_totime_hour").val(data.toH);
					$("#compensation_totime_minutes").val(data.toM);
					$("#compensation_totime_ampm").val(data.toAMPM);
					
					$.uniform.update($("select.small"));
				}
			});
		}
	}

	$(document).ready(function(){
		$("#compensation_date").datepicker({
			dateFormat: 'yy-mm-dd',
			showOtherMonths:true
		});
	});

	$(window).load(function() {
		$("select.small").each(function(){
			$("#uniform-"+$(this).attr("id")).addClass("smallsel");
		});
	});

	function fnValidate()
	{
		var latefromTime = hour2min($.trim($("#hExceedForTime").val()));
		if(latefromTime > 30)
		{
			alert("Cannot add compensation for latecoming more then 30 minutes. You need to add shift movement  and then  compensate ");
			$("#compensation_date").focus();
			return false;
		}
		
		if(!checkblank($("#attendance_id"),"Please select Late on")) return false;
		
		/*if($.trim($("#hMovementFrom").val()) == "" || $.trim($("#hMovementFrom").val()) == "-" || $.trim($("#hMovementTo").val()) == "" || $.trim($("#hMovementTo").val()) == "-")
		{
			alert("Problem loading the shift movement. Please try again or contact the admin");
			return false;
		}*/
		
		var movementTime = hour2min($.trim($("#hCompensationTime").val()));
		
		if(!checkblank($("#compensation_date"),"Please select Compensation date")) return false;
	
		if($("#compensation_date").val() > $("#curdate").val())
		{
			alert("Cannot add compensation date greater then current date");
			$("#compensation_date").focus();
			return false;
		}
		
		if($("#compensation_date").val() < $("#exceedondate").val())
		{
			alert("Compensation date should be greater than or equal to the Late on date.");
			$("#compensation_date").focus();
			return false;
		}
		
		if($("#compensation_fromtime_ampm").val() == "am" && $("#compensation_fromtime_hour").val()==12)
		{
			var compensation_fromtime = (parseInt($("#compensation_fromtime_hour").val(),10) + 12) +":"+$("#compensation_fromtime_minutes").val();
		}
		else if($("#compensation_fromtime_ampm").val() == "pm" && $("#compensation_fromtime_hour").val() != 12)
		{
			var compensation_fromtime = (parseInt($("#compensation_fromtime_hour").val(),10) + 12) +":"+$("#compensation_fromtime_minutes").val();
		}
		else
		{
			var compensation_fromtime = $("#compensation_fromtime_hour").val() +":"+$("#compensation_fromtime_minutes").val();
		}
		
		if($("#compensation_totime_ampm").val() == "am" && $("#compensation_totime_hour").val() == 12)
		{
			var compensation_totime = (parseInt($("#compensation_totime_hour").val(),10) + 12) +":"+$("#compensation_totime_minutes").val();
		}
		else if($("#compensation_totime_ampm").val() == "pm" && $("#compensation_totime_hour").val() != 12)
		{
			var compensation_totime = (parseInt($("#compensation_totime_hour").val(),10) + 12) +":"+$("#compensation_totime_minutes").val();
		}
		else
		{
			var compensation_totime = $("#compensation_totime_hour").val() +":"+$("#compensation_totime_minutes").val();
		}

		var curdt = new Date();
		var curtime = zerofill(curdt.getHours(),2) + ":" + zerofill(curdt.getMinutes(),2);

		if($("#compensation_date").val() == $("#curdate").val())
		{
			if(compensation_fromtime > curtime || compensation_totime > curtime)
			{
				alert("Cannot add compensation before the current time");
				return false;
			}
		}

		if(compensation_fromtime >= compensation_totime)
		{
			alert("Compensation to time should be greater than the Compensation from time.");
			$("#compensation_totime").focus();
			return false;
		}
		
		var compensationTime = hour2min(compensation_totime) - hour2min(compensation_fromtime);
		
		if(movementTime > compensationTime)
		{
			alert("Compensation time should be "+$("#hCompensationTime").val());
			return false;
		}
	}
	
</script>
