<!-- Build page from here: Usual with <div class="row-fluid"></div> -->
<form id="attendance" name="attendance" action="" method="post">
	<div class="row-fluid">
		<div class="span12">
			<div class="box gradient">
				<div class="title">
					<h4><span>Workhours calendar</span></h4>
				</div>
				<div class="content noPad clearfix">
					<div id="calendar"> </div>
				</div>
			</div>
			<!-- End .box -->
		</div>
		<!-- End .span12 -->
	</div>
</form>
<!-- End .row-fluid -->
<!-- Page end here -->
<script type="text/javascript" src="plugins/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript">
	$(function () {
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		//front page calendar
		$('#calendar').fullCalendar({
			header: {
				left: 'title,today',
				center: 'prev,next',
				right: 'month'
				/*right: 'month,agendaWeek,agendaDay'*/
			},
			buttonText: {
	        	prev: '<span class="icon24 icomoon-icon-arrow-left"></span>',
	        	next: '<span class="icon24 icomoon-icon-arrow-right"></span>'
	    	},
			editable: false,
			dayClick: function(date, allDay, jsEvent, view) {
				var dt = date.getFullYear()+"-"+zerofill((parseInt(date.getMonth(),10) + 1),2)+"-"+zerofill(date.getDate(),2)
				document.location.href="insufficient_workhours.php?date="+dt+"&action=update";
			},
			viewDisplay: function(view) {
				if($("#calendar").find("td.fc-today").length == 1)
				{
					$("#calendar").find("td.fc-today").prevAll().css({"background":"none","background-color":"#E9E0DB"});
					$("#calendar").find("td.fc-today").parent("tr").prevAll().find("td").css({"background":"none","background-color":"#E9E0DB"});
					$("#calendar").find("td.fc-today").css({"background":"none","background-color":"#D4ED91"});
					$("#calendar").find("td.fc-today").nextAll().css({"background":"none","background-color":"#F5F5F5"});
					$("#calendar").find("td.fc-today").parent("tr").nextAll().find("td").css({"background":"none","background-color":"#F5F5F5"});
				}
				else
				{
					var dt = new Date();
					
					if(view.start.getTime() < dt.getTime())
					{
						$("#calendar").find("td.fc-widget-content").css({"background":"none","background-color":"#E9E0DB"});						
					}
					else
					{
						$("#calendar").find("td.fc-widget-content").css({"background":"none","background-color":"#F5F5F5"});
					}
				}
			}
		});
	});
</script>
